.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  margin-top: 20px;
}
.nav-brand a {
  font-family: Proza Libre;
  font-size: 26px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  color: #fca311;
  text-decoration: none;
}
.nav-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-contact button {
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-decoration: none;
  border: 1px solid #fca311;
  background-color: transparent;
  width: 150px;
  height: 50px;
  color: #14213d;
  box-shadow: inset 0 0 0 0 black;
  outline: none;
  border-radius: 2px;
  transition: ease-out 1s;
  color: #fca311;
  cursor: pointer;
}

.nav-contact a {
  text-decoration: none;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: #fff;
}
.nav-contact a:hover {
  color: #fff;
}
.nav-contact button:hover {
  box-shadow: inset 300px 0 0 0 #fca311;
  transition: ease-in 0.5s;
  color: #fff;
}
.nav-contact img {
  margin-left: 20px;
  cursor: pointer;
}
.nav-contact img:hover {
  font-size: 50px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0; /* Black*/
  background: #14213d;
  overflow: hidden; /* Disable horizontal scroll */
  /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-cancel {
  text-align: right;
  width: 100%;
  padding-right: 20px;
  padding-top: 10px;
}
.side-cancel a {
  color: #fca311;
  font-size: 70px;
  text-decoration: none;
  font-weight: 700;
}
.center-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.center-side a {
  color: #fff;
  font-size: 60px;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 35px;
  cursor: pointer;
}
.center-side a:hover {
  color: #fca311;
  transition: 0.5s ease;
}
@media screen and (max-width: 500px) {
  .nav-container {
    padding: 0px 20px;
  }
  .nav-contact a {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    padding: 7px 15px;
  }
  .nav-brand a {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
  }
  .center-side a {
    color: #fff;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 570px) {
  .nav-contact a {
    display: none;
  }
  .center-side a {
    text-align: center;
    width: 50%;
  }
}
